<section>
    <div class="container-fluid">
     <div class="logomaker">
      <h1>Business Cards</h1>
      <p>Create a business card in seconds. Try it Free</p>
      <input type="text" placeholder="Enter Your Business Name">
      <button>CREATE LOGOS</button><br>
      <i class="fa-light fa-circle-play"></i>see how it work
      <img src="/assets/logo//hero-branding-1.png">
     </div>
    </div>
</section>



<!-----------------About--------------------->


<section class="about">
    <div class="about">
        <div class="about-1"> 
           <h1>Create the perfect business card for your business, in minutes</h1>
           <p>BrandCrowd’s logo maker has over 101,000+ premium logo designs created by designers from around the world. Here's how it works:</p>
        </div>
           <div class="about-2">
               <h1>1. Generate logo designs</h1>
               <p>To get started with BrandCrowd's logo maker just enter your business name and let our Logo Maker create amazing logo designs, instantly. You can browse thousands of logos tailored with your business name and find a design that's perfect for you. Looking for a more specific logo? No problem! You can enter keywords to refine the logos and find a design that really suits your business.</p><br>
               <button>Generate logo designs</button>
               <img src="assets\business card\how-bc-step-1.png">               
            </div>
            <div class="about-3">
                <h1>2. Customize your business card</h1>
                <p>Once you've found a logo you love it's a breeze to change the logo colors, fonts and layout. Moving the logo icon or adjusting the spacing of the design is simple - there's virtually no limit to what you can do with our logo maker tool. You can create something bespoke by adding gradient colors, additional shapes or some curved text - it's easy to create your perfect logo.</p>
                <button>Create My Logo</button>
                <img src="/assets/business card\how-bc-step-2.png">
            </div>
            <div class="about-2">
                <h1>3. Download your business card!</h1>
                <p>Now that you've crafted the perfect logo design it's time to download. Downloading your logo on BrandCrowd is instant and with all your logo design files available in your account you'll have everything you need to get your new brand setup. We'll also send your an email with a link to your logo files so you can find them easily. Your logo comes with the following:</p>
                <ul class="list">
                    <li><i class="fa-solid fa-check"></i>High-resolution logo files (PNG and JPG files) - perfect for your website</li>
                    <li><i class="fa-solid fa-check"></i>Vector logo files (SVG, EPS and PDF) - perfect for print</li>
                    <li><i class="fa-solid fa-check"></i>Logo files with transparent backgrounds</li>
                    <li><i class="fa-solid fa-check"></i>Multiple variations of your logo</li>
                </ul>
                <img class="png" src="/assets/business card\how-bc-step-3.png">
                <button class="btn">Browse Handcraft Logos</button>
            </div>
            <div class="createlogo">
                <h1>Get started with BrandCrowd's Logo Maker</h1>
                <p>Enter your business name and we'll start creating logos in seconds...</p>
                <input type="text" placeholder="Enter Your Business Name">
                <button>CREATE LOGOS</button><br>
            </div>
            <div class="about-4">
                <h1>What you get with BrandCrowd's Business</h1>
            </div>
            <div>
                <table>
                    <tr>
                        <td>
                           <img src="/assets/logo//p.png">
                           <h1>Premium Logo Designs</h1>
                           <p>Every logo in our library is uniquely handcrafted by professional designers from across the globe.</p>
                        </td>
                        <td>
                            <img src="/assets/logo//file.png">
                            <h1>All The Files You Need</h1>
                            <p>Get high-res logo files (PNG and JPG) for your website & vector files (SVG, EPS and PDF) ready for print. </p>
                        </td>
                        <td>
                            <img src="/assets/logo//color.png">
                            <h1>Color and Layout Variations</h1>
                            <p>Choose from several layout options and use any color for your logo.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="/assets/logo//card.png">
                            <h1>Business Card Templates</h1>
                            <p>Choose from thousands of business card templates, customised with your logo colors to match your brand.</p>
                        </td>
                        <td>
                            <img src="/assets/logo//social.png">
                            <h1>Social Media Templates</h1>
                            <p>Create social media designs including Instagram posts & stories automatically customized with your logo colors.</p>
                        </td>
                        <td>
                            <img src="/assets/logo//brand.png">
                            <h1>Brand Identity Templates</h1>
                            <p>Create letterheads, email signatures matched to your logo colors to complete your brand identity.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="/assets/logo//pen.png">
                            <h1>Unlimited Customization</h1>
                            <p>Change the layout, colors and font on your logo. Get unlimited edits and create as many variations as you want.</p>
                        </td>
                        <td>
                            <img src="/assets/logo//support.png">
                            <h1>Support</h1>
                            <p>With 24/7 support from our team of logo experts, you're always looked after from logo creation to download and beyond.</p>
                        </td>
                        <td>
                            <img src="/assets/logo//royal.png">
                            <h1>Royalty Free Logos</h1>
                            <p>Get a worldwide, irrevocable license to use your logo for any commercial and non-commercial purpose.</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="features">
                <h1 class="head">Your own logo and business branding tool</h1>
                <div class="about-2">
                    <h1>Your business is your logo, your logo is your business</h1>
                    <p>Everyone wants the perfect logo for their business. The good news is you can create a beautiful logo with BrandCrowd's logo maker. Our online logo maker lets you generate designs perfectly suited to your business from a professionally designed library of logos. There's no stock icons here - every logo has been handcrafted and is exclusive to BrandCrowd. So, if you want the best logo for your business then start customising a logo today. You can edit all our logos for free and make a logo you love in minutes - who doesn't like the sound of that?</p>
                    <button>Find Your Logo</button>
                    <img src="\assets\business card\features-business-cards@2x.png">
                </div>
                <div class="about-3">
                    <h1>Create a beautiful logo with a few clicks </h1>
                    <p>At BrandCrowd we know startups, entrepreneurs and new businesses are short on time - in fact who isn't? We also know that you want a logo tool that's not just free to try, but super simple to use. That's why we've spent many hours perfecting our logo maker, so you can get that amazing logo with zero fuss - Simply find a logo, customize it and download the logo files. You can have a beautiful logo for your business in just a few clicks.</p>
                    <button>Create Your Logo</button>
                    <img src="\assets\business card\features-business-card-maker@2x.png">
                </div>
                <div class="about-2">
                    <h1>Build your entire Brand, not just the perfect logo</h1>
                    <p>There's a lot more to starting a successful business than getting a fab logo - but making sure you put that logo to work is still crucial. At BrandCrowd, we make sure that once you've created your new logo you don't miss the opportunity to get branded business cards, social media pics, banners and covers - all easily customisable with our suite of design editors. You can also put your new logo on stationery, including envelopes and letterheads. Want more? We can also get your branded merch, office supplies and stationery printed - making BrandCrowd the one-stop-shop for launching your business.</p>
                    <button>Get Your Logo</button>
                    <img src="\assets\business card\features-other-makers@2x.png">
                </div>     
            </div>
            <div class="logos">
                <div class="about-1"> 
                    <h1>Make a logo you'll love, instantly. Try for free.</h1>
                    <p>Whether you need a beauty logo, a logo for your real estate business or even a logo for your new startup, we help you generate thousands of logo designs in seconds.</p>
                </div>
                <table class="logo1">
                    <tr>
                        <td><img src="/assets/logo/2.PNG"></td>
                        <td><img src="/assets/logo/3.png"></td>
                        <td><img src="/assets/logo/4.png"></td>
                        <td class="col-1"><img src="/assets/logo/18.png"></td>                        
                    </tr>
                    <tr>
                        <td><img src="/assets/logo/6.png"></td>                        
                        <td><img src="/assets/logo/7.png"></td>                        
                        <td><img src="/assets/logo/8.png"></td>                        
                        <td class="col-1"><img src="/assets/logo/9.png"></td>                        
                    </tr>
                    <tr>
                        <td><img src="/assets/logo/10.png"></td>                        
                        <td><img src="/assets/logo/11.png"></td>                        
                        <td><img src="/assets/logo/12.png"></td>                        
                        <td class="col-1"><img src="/assets/logo/13.png"></td>                        
                    </tr>
                    <tr>
                        <td><img src="/assets/logo/14.png"></td>                        
                        <td><img src="/assets/logo/15.png"></td>                        
                        <td><img src="/assets/logo/16.png"></td>                        
                        <td class="col-1"><img src="/assets/logo/17.png"></td>                        
                    </tr>

                </table>
                <button>Browse Handcraft Logos</button>
            </div>
            <div class="createlogo">
                <h1>Get started with BrandCrowd's Logo Maker</h1>
                <p>Enter your business name and we'll start creating logos in seconds...</p>
                <input type="text" placeholder="Enter Your Business Name" style="border: rgb(147, 147, 147);">
                <button>CREATE LOGOS</button><br>
            </div>
            <div class="dream">
                <div>             
                     <h1>Make your dream logo - in minutes!</h1>
                     <p>Why should you use BrandCrowd Logo Maker to create your logo?</p>
                     <div class="list">
                            <ul>
                                <li><i class="bi bi-check-circle"></i><h1>Unique designs</h1></li>
                                <li><p>Our 101,000+ designs have all been handcrafted by a community of top designers. Get a stunning logo - always!</p></li>
                                <li><i class="bi bi-check-circle"></i><h1>Free to use </h1></li>
                                <li><p>BrandCrowd Logo Maker is free to use. Browse thousands of different logo designs, edit and save as many as you like.</p></li>
                                <li><i class="bi bi-check-circle"></i><h1>It’s fast - create a logo in 2 minutes</h1></li>
                                <li><p>Pick a design you like and start editing it. In minutes you can make a logo you will love.</p></li>
                            </ul>
                    </div>
                     <img src="\assets\business card\features-business-cardV2.png">
                </div>
            </div>
            <div class="review">
                <h1>These businesses loved using BrandCrowd</h1>
                <div class="review-1">
                    <div class="mySlides">
                        <q>I got my logo and Web page up and running in no time, and there's more: option for as many edits as I see fit, giving me the right flexibility throughout my subscription.</q>
                        <p class="author">- John Keats</p>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        
                      </div>
                    
                      <div class="mySlides">
                        <q>Had a great experience designing a logo and getting labels printed. Easy, and professional. Very good price and I received my product fast. I highly recommend them. Thank you BrandCrowd!</q>
                        <p class="author">- Ernest Hemingway</p>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                      </div>
                    
                      <div class="mySlides">
                        <q>I went on Google to find sites to help build my business products logo,flyers,etc . They have done a wonderful job with assisting with my needs .I am not tech savvy but the website is easy to navigate .thank you!!!!</q>
                        <p class="author">- Thomas A. Edison</p>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                      </div>

                      <div class="mySlides">
                        <q>Excellent service. In addition and to my surprise, I found out you are an Aussie firm. Having lived in Sydney from 1983 to 2003, I learnt to trust the quality and big standards of all Aussie enterprises.</q>
                        <p class="author">- Linous White</p>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                      </div>
                    
                      <div class="mySlides">
                        <q>I have tried a lot of marketing & logo design programs over the years. I am also usually pretty stingy about paying monthly for things since I am a small business I try to keep a low overhead so I just buy the logos and cancel my subscription.</q>
                        <p class="author">- Jody Seacur</p>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        
                      </div>
                    
                      <div class="mySlides">
                        <q>BrandCrowd is so easy to use! I created my business logo within 10 minutes and now have all the templates required for business cards, emails, letterhead, clothing, you name it! I highly recommend them if you are looking to create your own branding.</q>
                        <p class="author">- joel Eady</p>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                      </div>
                    
                    </div>
                    
                    <!-- Dots/bullets/indicators -->
                    <div class="dot-container">
                      <span class="dot" onclick="currentSlide(1)"></span>
                      <span class="dot" onclick="currentSlide(2)"></span>
                      <span class="dot" onclick="currentSlide(3)"></span>
                      <span class="dot" onclick="currentSlide(4)"></span>
                      <span class="dot" onclick="currentSlide(5)"></span>
                      <span class="dot" onclick="currentSlide(6)"></span>

                    </div>
                    
                </div>
                
            </div>
            <div class="make">
                <h1>How do I make a logo with BrandCrowd?</h1>
                <p>Creating your dream logo easy with BrandCrowd. Just follow these simple steps and you'll have a logo ready to share with the world in minutes.</p>
                <table class="makelogo">
                   <tr>
                    <td>
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <h1>1. Start searching:</h1>
                        <p>To find logos relevant to your business enter your business name - We'll automatically show you logos related to your business. You can browse the logos and choose one you love.</p>
                    </td>
                    <td>
                        <i class="fa-solid fa-sliders"></i>
                        <h1>2. Refine your search:</h1>
                        <p>If you can't find the perfect logo, you can refine your search by entering related keywords.</p>
                    </td>
                    <td>
                        <i class="fa-solid fa-list"></i>
                        <h1>3. Create a logo shortlist</h1>
                        <p>To make life easier you can "shortlist" logos that you like. Simply click the heart symbol and we\'ll add the logos to your shortlist.</p>
                    </td>
                   </tr>
                   <tr>
                    <td>
                        <i class="fa-solid fa-pen"></i>
                        <h1>4. Edit your logo</h1>
                        <p>Once you've found a logo that you love, you can customize the logo colors, fonts and layout. You can even add more embellishments with shapes.</p>
                    </td>
                    <td>
                        <i class="fa-solid fa-desktop"></i>
                        <h1>5. Preview your logo</h1>
                        <p>When you're done editing you can easily preview your logo on apparal, signage and more to see how it looks in real life.</p>
                    </td>
                    <td>
                        <i class="fa-solid fa-download"></i>
                        <h1>6. Download your logo</h1>
                        <p>Once you're done customizing, you can download your logo - you'll get access to all the logo files you need, instantly</p>
                    </td>
                   </tr>
                </table>
            </div>
            <div class="createlogo">
                <h1>Get started with BrandCrowd's Logo Maker</h1>
                <p>Enter your business name and we'll start creating logos in seconds...</p>
                <input type="text" placeholder="Enter Your Business Name" style="border: rgb(147, 147, 147);">
                <button>CREATE LOGOS</button><br>
            </div>
            <div class="question">
                <div>
                     <h1>Frequently asked questions</h1>
                     <p>Creating that perfect logo with BrandCrowd is easy - but just in case, here's some FAQs to help you get started.</p>
               </div>
               <div class="ques">
                    <table class="ques1">
                     <tr>
                        <td>
                            <h1>What is the BrandCrowd logo maker?</h1>
                            <p>BrandCrowd's logo maker allows you to generate and customize stand-out logos in minutes. BrandCrowd gives you access to a professional library of thousands of customizable logo designs - making creating your logo inexpensive and straightforward. Our logos, created by designers around the globe, give you unlimited possibilities.</p>
                        </td>
                        <td class="ques2">
                            <h1>Do I get a transparent version of my logo?</h1>
                            <p>Absolutely! A transparent version of your logo is provided when you download in a PNG format. Even if you've chosen a solid background for your logo, we'll provided a version of your logo with a transparent background for your convenience - perfect for use on your website.</p>
                        </td>
                     </tr>
                     <tr>
                        <td>
                            <h1>What layout works best for logos?</h1>
                            <p>You want your logo to standout above competitors. Your logo should tell your audience, customers, fans and competitors that you mean business. There's no single answer for what layout your logo should have - but keep in mind what message your want to convey with your logo. A simple layout can convey elegance and sophistication, while a more dynamic layout can mean fun or adventure. Search our logo collection for a design then customize it according to your needs. Remember you can also research logos - pay attention to their layout, color choices, design themes and fonts.</p>
                        </td>
                        <td class="ques2">
                            <h1>What text should I choose for my logo?</h1>
                            <p>What's in a name? If you haven't already got a name for your logo then here's some tips. You want to use text and a name that describes your business, the caliber of service you provide and one that resonates with customers. If you're stumped, research other companies with logos for inspiration. Remember your logo should have a catchy and non-offensive name that's sits well with the whole team. Try to keep the logo text short and simple using a bold clean font, so it's easily recognisable on your logo.</p>
                        </td>
                     </tr>
                     <tr>
                        <td class="ques2">
                            <h1>How do I find the right logo?</h1>
                            <p>Simply put, logos are visual representations of what your business is all about. The logo you choose will become synonymous with your brand, so it pays to choose wisely. BrandCrowd offers access to a library packed with logos created by professional designers from around the world. Find the perfect logos is as simple as searching the library, customizing the logo to your liking and downloading. Remember, keeping your logo simple with three or fewer colors and clean fonts produces an effective, eye-catching logo.</p>
                        </td>
                        <td class="ques2">
                            <h1>How do I add a tagline to my logo?</h1>
                            <p>It's easy to enhance your logo with a tagline. A tagline is usually added at the bottom of your logo and consists of a short piece of text like a motto or catchphrase. Taglines that work include three to seven memorable words. Like an advertising jingle or popular song, this additional text on your logo helps further associate your design with your brand. You can add a tagline in a few clicks with BrandCrowd's Logo Maker.</p>
                        </td>
                     </tr>
                     <tr>
                        <td class="ques2">
                            <h1>Can I download my logo instantly?</h1>
                            <p>Yes. Now that you've created the perfect logo, it's time to put your design to work. BrandCrowd allows you to download your logo instantly and gives you access to all the files you need. BrandCrowd provides files perfect for producing marketing and print materials, for using on your website or blog and for branding those social media posts. All the logo files you need are available in your account.</p>
                        </td>
                        <td class="ques2">
                            <h1>Do I get my logo in vector format?</h1>
                            <p>Of course. Your logo from BrandCrowd is provided in several formats including vector files (PDF and SVG). No matter how large you want your logo, it'll look great. Vector files are used to create print layouts and illustrations as they ensure the same quality appearance across all formats and sizes.</p>
                        </td>
                     </tr>
                     </table>
                </div>

            </div>
    
</section>

