*{
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:  rgba(255, 0, 0, 0.734); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:  rgba(255, 0, 0, 0.734); 
  }
footer{ 
   background-color: black;
   position: relative;
   
}
.footer{
    color: white;
    padding-top: 30px;
    margin-left: 200px;
    font-size: 20px;
    line-height: 28px;
    text-align: left;
}
.footer h3{
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0;
}
.footer2{
    float: left;
    margin-top: -230px;
    margin-left: 250px;
}
footer ul li{
    font-size: 16px;
    line-height: 30px;
    color: white;
    cursor: pointer;
    user-select: none;
}
footer ul li:hover{
    color: rgba(255, 0, 0, 0.734);
}
.hr{
    width: 100px;
    height: 2px;
    background-color: white;
    margin: 20px 0;
}
.ht{
    width: 150vh;
    height: 1px;
    background-color: white;
    margin-top: 10px;
}
.details{
    margin-top: 20px;
    font-size: 12px;
    line-height: 18px;
    color: rgb(143, 143, 143);
}
.icons{
    float: right;
    margin-top: -50px;
    padding-right: 270px;
    display: flex;
    flex-direction: row;
    
}
i{
    width: 100%;
    height: 100%;
    margin: 15px;
    color: white;

}
i:hover{
    color: rgba(255, 0, 0, 0.734);
}
button{
    width: 150px;
    height: 60px;
    float: right;
    margin-top: -220px;
    margin-right: 150px;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 20px;
    background-color:  rgba(255, 0, 0, 0.74);
}
button:hover{
    background-color: red;
}
@media(max-width:800px){
    .footer1{
        margin-left: -150px;
    }
    .footer2{
        margin-left: 40px;
    }
    .ht{
        margin-left: -150px;
    }
    .details{
        margin-left: -150px;
    }
    .icons{
        margin-right: -200px;
    }
    button{
        margin-right: 30px;
    }
}
@media screen and (max-width:525px){
    .footer{
        width: auto;
        height: auto;
        position: relative;
        top: 0;
        padding-bottom: 200px;
    }
    .footer1{
        text-align: center;
        margin-left: -200px;
    }
    .hr{
        width: 300px;
        margin-left: 100px;
    }
    .footer2{
        display: none;
    }
    .ht{
        margin-left: -150px;
    }
    .details{
        display: none;
    }
    .icons{
        margin:0px 0px 0px 30px;
    }
    button{
        margin-top: 30px;
    }
}