<footer>
    <div class="footer">
           <div class="footer1">
                <h3>BrandCrowd</h3>
                <div class="hr"></div>
                <ul>
                    <li><a href=""></a>Logo Maker</li>
                    <li><a href=""></a>Logo Templates</li>
                    <li><a href=""></a>Business Cards</li>
                    <li><a href=""></a>Free Businesscard</li>
                    <li><a href=""></a>Custom Design</li>
                </ul>
           </div>
           <div class="footer2">
            <h3>Company</h3>
            <div class="hr"></div>
            <ul>
                <li><a routerLink=""></a>About Us</li>
                <li><a routerLink="/contactus"></a>Contact us</li>
                <li><a routerLink=""></a>Blog</li>
            </ul>
       </div>
       <div>
        <button class="btn btn1"(click)="login()">Logout</button>
       </div>
       <div class="icons">
            <div class="icon"><i class="bi bi-facebook"></i></div>
            <div class="icon"><i class="bi bi-twitter"></i></div>
            <div class="icon"><i class="bi bi-github"></i></div>
            <div class="icon"><i class="bi bi-instagram"></i></div>      
       </div>
       <div class="ht"></div>
       <div class="details">
        <p>Copyright © 2022 BrandCrowd. All Rights Reserved.</p>
        <p>All individual works are copyright protected by their respective owners & contributors. BrandCrowd is handcrafted from around the world facebook</p>
       </div>
    </div>
</footer>
