<div class="container">
    <h1>Create an account</h1>
    <div class="login">
      <input type="text" placeholder="Email address"><br>
      <input type="password" placeholder="PASSWORD"><br>
      <input type="password" placeholder="Confirm password"><br>
     <button>Sign UP</button>
      <p>By proceeding you accept our <a href="">Terms of use</a> and <a href="">Privacy Policy</a></p>
     
      <span class="hr"></span><p>or Login with</p><span class="hr"></span>
     
      <div class="button">
          <button class="facebook">Facebook</button>
          <button class="google">Google</button>
         </div>
         <div class="ht">
             <p>Already Have Account? <a routerLink="/login">sign In</a></p>
          </div>
    </div>
 </div>
