*{
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
body{
    width: auto;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden !important;
    
}
.container-fluid{
    width: auto;
    height: fit-content;
    padding: 20px;
    background-color: black;
}
.logomaker{
    padding: 120px 0 0 0;
}
.logomaker h1{
    font-size: 45px;
    font-weight: 500;
    color: white;
    margin: 0 0 20px 0;
    text-align: center;
}
.logomaker p{
    font-size: 24px;
    font-weight: 200;
    color: white;
    margin: 0 0 20px 0;
    text-align: center;
}
 input{
    width: 270px;
    height: 40px;
    font-size: medium;
    border: none;
    margin: 0px 10px;

}
 button{
    width: fit-content;
    padding: 10px 30px;
    height: 60px;
    border: none;
    color: white;
    font-size: 14px;
    background-color:  rgba(255, 0, 0, 0.74);
    margin: 0px 10px;
}
button:hover{
    background-color: red;
}
.logo{
    margin: auto;
    width: 100%;
    height: auto;
    padding: 100px;
    background-color: white;

}
.input{
    box-sizing: border-box;
    display: block;
    width: fit-content;
    height: fit-content;
    background-color: rgb(239, 239, 239);
    border: 2px solid rgb(239, 239, 239);
    padding: 30px;
    margin:100px auto 20px auto;
    top: 20%;
    bottom: 20%;
    left: 40%;

}
img{
    width: 300px;
    height: 300px;
    margin: 10px;
    align-items: center;
    cursor: pointer;
}
img:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.logo-img, .logo-img2, .logo-img3, .logo-img4{
    margin: auto;
    padding: 10px;
    display: flex;
}
 .label{
    font-size: 45px;
    font-weight: 900;
    position: absolute;
    top: 130px;
    left: 90px;
}
.text-img{
    position: relative;
}
