<div class="container-fluid">
    <div class="logomaker">
     <h1>Find perfect logo for {{name.value}}</h1>
     <p>Making a logo for {{name.value}} is easy.Create a stunning logo tailored just for u </p>
    </div>
</div>
<div class="logos">
    <div class="input">
          <label> Business name</label><input [formControl]="name" type="text" placeholder="   Enter Your Business Name">
           <label>Keyword</label><input type="text" placeholder="   Enter Keyword">
           <button>Search</button>
    </div>
<div class="logo">
    <div class="logo-img">
                <div class="text-img">
                    <Label class="label">{{name.value}}</Label>
                    <img (click)="logoedit()"src="/assets/logo/logo1.png">
                </div>
                <div class="text-img">
                    <Label class="label">{{name.value}}</Label>
                    <img (click)="logoedit()" src="/assets/logo/logo2.png">
                </div>
                <div class="text-img">
                    <Label class="label">{{name.value}}</Label>
                    <img (click)="logoedit()" src="/assets/logo/logo3.png">
                </div>
                <div class="text-img">
                    <Label class="label">{{name.value}}</Label>
                    <img (click)="logoedit()" src="/assets/logo/logo4.png">
                </div>
    </div>
    <div class="logo-img2">
                <div class="text-img">
                    <Label class="label">{{name.value}}</Label>
                    <img (click)="logoedit()" src="/assets/logo/logo5.png">
                </div>
                <div class="text-img">
                    <Label class="label">{{name.value}}</Label>                       
                    <img (click)="logoedit()" src="/assets/logo/logo6.png">
                </div>
                <div class="text-img">
                    <Label class="label">{{name.value}}</Label>                       
                    <img (click)="logoedit()" src="/assets/logo/logo7.png">
                </div>
                <div class="text-img">
                    <Label class="label">{{name.value}}</Label>                     
                    <img (click)="logoedit()" src="/assets/logo/logo8.png">

                </div>
     </div>
    <div class="logo-img3">
                <div class="text-img">
                    <Label class="label">{{name.value}}</Label>
                    <img (click)="logoedit()" src="/assets/logo/logo9.png">
                </div>
                <div class="text-img">
                    <Label class="label">{{name.value}}</Label>                        
                    <img (click)="logoedit()" src="/assets/logo/logo10.png">      
                </div>   
                <div class="text-img">
                    <Label class="label">{{name.value}}</Label>               
                    <img (click)="logoedit()" src="/assets/logo/logo11.png">
                </div>
                <div class="text-img">
                    <Label class="label">{{name.value}}</Label>                       
                    <img (click)="logoedit()" src="/assets/logo/logo12.png"> 
                </div> 
    </div>
    <div class="logo-img4">
                <div class="text-img">
                <Label class="label">{{name.value}}</Label>
                <img (click)="logoedit()" src="/assets/logo/logo13.png">          
                </div>
                <div class="text-img">
                    <Label class="label">{{name.value}}</Label>              
                    <img (click)="logoedit()" src="/assets/logo/logo14.png">  
                </div>
                <div class="text-img">
                    <Label class="label">{{name.value}}</Label>                      
                    <img (click)="logoedit()" src="/assets/logo/logo15.png">      
                </div>
                <div class="text-img">
                    <Label class="label">{{name.value}}</Label>                  
                    <img (click)="logoedit()" src="/assets/logo/logo16.png"> 
                </div>
    </div>
</div>
</div>
