

    <header>
        <nav class="navbar">
            <div class="container-fluid">
                <div class="logo">
                        <img src="..\assets\logo\logo 1.jpg">
                    <h1>Brand<span>Crowd</span></h1>
                </div>
                <div class="nav navbar-nav1">
                    <div class="list">
                    <a routerLink="/logomaker" class="btn">Logo Maker</a>
                    <a routerLink="/business" class="btn">Business card</a>
                    <a routerLink="/Social" class="btn">Social</a>
                    <a routerLink="/contactus" class="btn">Contact Us</a>
                    </div>
                    <a routerLink="/login" class="btn btn1">My Account</a>
                </div>
            </div>
        </nav>
    </header>
