<div class="login-1">
   <h1>Login to BrandCrowd</h1>
   <div class="login">
      {{msgText}}
     <input type="text" placeholder="Email address" [(ngModel)]="email" name="email"><br>
     <input type="password" placeholder="PASSWORD" [(ngModel)]="pswd" name="pswd"><br>
     <span><a href="">Forgot Password ?</a></span><br>
     <button (click)="verifyUser()">Continue</button>
     <p>By proceeding you accept our <a href="">Terms of use</a> and <a href="">Privacy Policy</a></p>
    
     <span class="hr"></span><p>or continue with</p><span class="hr"></span>
    
     <div class="button">
         <button class="facebook">Facebook</button>
         <button class="google"><i class="bi bi-google"></i>Google</button>
        </div>
        <div class="ht">
            <p>New to BrandCrowd?<a routerLink="/register">Sign Up</a></p>
         </div>
   </div>
</div>