<div class="login-1">
    <h1>Contact Us</h1>
   <div class="login-2">
    <div class="login">
      <h1>Get help</h1>
      <i class="bi bi-person-circle "></i><input type="text" placeholder="   Full name"><br>
      <i class="bi bi-envelope"></i><input type="text" placeholder="    Email address"><br>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder= "Your message"></textarea>
      <button>Send Message</button>
    </div>
    <div class="info">
    <div class="location"> 
        <h4>Contact Information</h4>
        <h6><i class="bi bi-geo-alt-fill"></i> BrandCrowd HQ</h6>
        <p>Level 4,2 Hill street<br>Surry Hills 2010<br>Australia</p>
    </div>
    <div class="email">
         <h6><i class="bi bi-envelope-fill"></i>  Support email</h6>
         <p>support@brandCrowd.com</p>
    </div>
    <div class="icons">
        <div class="icon"><i class="bi bi-facebook"></i></div>
        <div class="icon"><i class="bi bi-twitter"></i></div>
        <div class="icon"><i class="bi bi-instagram"></i></div>      
   </div>
    </div>
    </div>
 </div>


















